services:
  postgres:
    image: postgres:16
    container_name: parsely-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - parsely_pgdata:/var/lib/postgresql/data

volumes:
  parsely_pgdata: